@import url(./reset.css);
body {
  font-family: sans-serif;
}

.container {
  width: 60%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.timer {
  height: 20%;
  font-size: 5em;
  display: flex;
}

.buttons {
  font-size: 0.7em;
  height: 10%;
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.buttons__button {
  width: 25%;
  height: 30px;
  background-color: #dc3347;
  border-radius: 3px;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: #fff;
  transition: all 0.5s;
}
.buttons__button:hover {
  background-color: #af2d3c;
}
.buttons__button:disabled {
  background-color: rgba(220, 51, 71, 0.4274509804);
}

.blocks {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blocks__left, .blocks__right {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.75);
}
.blocks__puzzle {
  width: 75px;
  height: 75px;
}
.blocks__puzzle-1 {
  background-image: url(./images/arsenal-resize.png);
  background-size: 300px 300px;
  background-position: 0 0;
}
.blocks__puzzle-2 {
  background-image: url(./images/arsenal-resize.png);
  background-size: 300px 300px;
  background-position: -75px 0;
}
.blocks__puzzle-3 {
  background-image: url(./images/arsenal-resize.png);
  background-size: 300px 300px;
  background-position: -150px 0;
}
.blocks__puzzle-4 {
  background-image: url(./images/arsenal-resize.png);
  background-size: 300px 300px;
  background-position: -225px 0;
}
.blocks__puzzle-5 {
  background-image: url(./images/arsenal-resize.png);
  background-size: 300px 300px;
  background-position: 0 -75px;
}
.blocks__puzzle-6 {
  background-image: url(./images/arsenal-resize.png);
  background-size: 300px 300px;
  background-position: -75px -75px;
}
.blocks__puzzle-7 {
  background-image: url(./images/arsenal-resize.png);
  background-size: 300px 300px;
  background-position: -150px -75px;
}
.blocks__puzzle-8 {
  background-image: url(./images/arsenal-resize.png);
  background-size: 300px 300px;
  background-position: -225px -75px;
}
.blocks__puzzle-9 {
  background-image: url(./images/arsenal-resize.png);
  background-size: 300px 300px;
  background-position: 0 -150px;
}
.blocks__puzzle-10 {
  background-image: url(./images/arsenal-resize.png);
  background-size: 300px 300px;
  background-position: -75px -150px;
}
.blocks__puzzle-11 {
  background-image: url(./images/arsenal-resize.png);
  background-size: 300px 300px;
  background-position: -150px -150px;
}
.blocks__puzzle-12 {
  background-image: url(./images/arsenal-resize.png);
  background-size: 300px 300px;
  background-position: -225px -150px;
}
.blocks__puzzle-13 {
  background-image: url(./images/arsenal-resize.png);
  background-size: 300px 300px;
  background-position: 0 -225px;
}
.blocks__puzzle-14 {
  background-image: url(./images/arsenal-resize.png);
  background-size: 300px 300px;
  background-position: -75px -225px;
}
.blocks__puzzle-15 {
  background-image: url(./images/arsenal-resize.png);
  background-size: 300px 300px;
  background-position: -150px -225px;
}
.blocks__puzzle-16 {
  background-image: url(./images/arsenal-resize.png);
  background-size: 300px 300px;
  background-position: -225px -225px;
}
.blocks__puzzle-check {
  width: 75px;
  height: 75px;
}
.blocks__container-puzzle {
  width: 75px;
  height: 75px;
}

.message-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4274509804);
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 30%;
  width: 40%;
  height: 200px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
}
.message__text {
  font-size: 1.5em;
  color: #000;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-align: center;
}
.message__button {
  width: 65px;
  height: 40px;
  font-size: 1em;
  background-color: #dc3347;
  border-radius: 3px;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: #fff;
  transition: all 0.5s;
}
.message__button:hover {
  background-color: #af2d3c;
}

#messageButtonCheck {
  background-color: green;
}
#messageButtonCheck:hover {
  background-color: rgb(0, 99, 0);
}
#messageButtonCheck:disabled {
  background-color: rgba(0, 128, 0, 0.463);
}

@media screen and (max-width: 1100px) {
  .buttons {
    margin-top: 50px;
  }
  .container {
    width: 98%;
  }
  .blocks {
    width: 100%;
    margin-top: 20px;
  }
}/*# sourceMappingURL=main.css.map */